footer.page-footer
	.grid-container
		.grid-x.grid-margin-x.align-justify
			.medium-4.large-3.cell
				a.logo(href="/")
					img(src="assets/img/logo.png" width="140" height="13")
				div
					| It was some time before he obtained any answer, and the reply, when made, was unpropitious.
				ul.social-links-list
					li
						a(href="##").social-link
							i.icon-twitter
					li
						a(href="##").social-link
							i.icon-facebook
					li
						a(href="##").social-link
							i.icon-vk
			.medium-7.large-6.cell
				.grid-x
					.small-4.cell
						.links-list-title Learn More
						ul.links-list
							li
								a(href="#").link How it works?
							li
								a(href="#").link Meeting tools
							li
								a(href="#").link Live striming
							li
								a(href="#").link Contat method
					.small-4.cell
						.links-list-title About Us
						ul.links-list
							li
								a(href="#").link About us
							li
								a(href="#").link Features
							li
								a(href="#").link Privacy policy
							li
								a(href="#").link Terms &amp; Conditions
					.small-4.cell
						.links-list-title Support
						ul.links-list
							li
								a(href="#").link F.A.Q.
							li
								a(href="###").link Contact us
							li
								a(href="#").link Live chat
							li
								a(href="#").link Phone call