header.page-header.page-header-fixed
	.page-header_container
		a.logo(href="/")
			img(src="assets/img/logo.png" width="140" height="13")
		button#links-dropdown-toggle.dropdown-toggle(type="button" data-toggle="page-header-links")
		button#nav-dropdown-toggle.dropdown-toggle(type="button" data-toggle="page-header-nav")
		nav#page-header-nav.page-header_nav-dropdown.dropdown-content
			ul.nav-menu
				li.nav-menu_item
					a(href="##").link Tour
				li.nav-menu_item
					a(href="##").link Features
				li.nav-menu_item
					a(href="##").link Pricing
			ul.nav-menu
				li.nav-menu_item
					a(href="##").link Help
				li.nav-menu_item
					a(href="##").link Contacts
				li.nav-menu_item
					a(href="#").btn.btn-primary
						i.icon-apple
						span Get App
	#page-header-links.page-header_links-dropdown.dropdown-content
		.container
			.grid-x.grid-margin-x
				.small-4.cell
					.links-list-title Learn More
					ul.links-list
						li
							a(href="#").link How it works?
						li
							a(href="#").link Meeting tools
						li
							a(href="#").link Live striming
						li
							a(href="#").link Contat method
				.small-4.cell
					.links-list-title About Us
					ul.links-list
						li
							a(href="#").link About us
						li
							a(href="#").link Features
						li
							a(href="#").link Privacy policy
						li
							a(href="#").link Terms &amp; Conditions
				.small-4.cell
					.links-list-title Support
					ul.links-list
						li
							a(href="#").link F.A.Q.
						li
							a(href="###").link Contact us
						li
							a(href="#").link Live chat
						li
							a(href="#").link Phone call