.btn {
	display: inline-block;
	vertical-align: middle;
    cursor: pointer;
    padding: 0px 24px;
	text-decoration: none;
	transition: .15s;
    border-radius: 30px;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    height: 40px;
    line-height: 40px;
    transition: .7s;

    &:hover {
        box-shadow: inset 0 0 5px 50px rgba(0,0,0,.25);
    }


    [class^='icon-'] {

    	&:first-child {
    		margin-right: 14px;
    	}

    	&:last-child {
    		margin-left: 14px;
    	}

    	&:only-child {
    		margin: 0;
    	}
    }

    &-lg {
        height: 50px;
        line-height: 50px;
        padding: 0 42px;
    }

    .icon-apple {
    	font-size: 1.22em;
    }

    &-primary {
    	background: $primary-color;
    	border-color: $primary-color;
    	color: #fff;
    }

    &-secondary {
        color: #fff;
        background: $secondary-color;
        border-color: $secondary-color;
    }

    &-default {
    	color: #26272d;
    	border-color: rgba(#26272d, .1);
    	background: #eef0f2;
    }
}