.dropdown-content {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100%;
	z-index: 10;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;

	&.opened {
		visibility: visible;
		opacity: 1;

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			right: -30px;
			bottom: 1px;
			background: #dfdfdf;
			box-shadow: 0 2px 1px 1px #dedede;
		}
	}
}

.dropdown-toggle {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	cursor: pointer;
	width: 20px;
	height: 12px;
	border: 0;
	position: relative;
	background: linear-gradient(to bottom, 
		                        transparent 5px,
		                        #1b1c1e 5px,
		                        #1b1c1e 7px,
		                        transparent 7px,
		                        transparent 12px);
	&:after,
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background: #1b1c1e;
	}

	&:after {
		bottom: 0;
	}

	&:before {
		top: 0;
	}
}