.input-text {
    background: #fff;
    border: 1px solid rgba(#222328, .2);
    border-radius: 26px;
    padding: 15px 25px;
    color: #3a3d4b;
    text-align: left;
    margin-bottom: 20px;

    &:focus {
        outline: none;
    }
}

.input-group {
    position: relative;
    width: 100%;
    border-collapse: separate;

    .input-text {
        width: 100%;
    }

    @media screen and (min-width: $small-breakpoint) {
        display: table;

        .input-text {
            display: table-cell;
            vertical-align: middle;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
            margin-bottom: 0;
        }

        &_btn {
            display: table-cell;
            vertical-align: middle;
            border-top-right-radius: 26px;
            border-bottom-right-radius: 26px;
            text-align: right;
            border: 1px solid rgba(#222328, .2);
            border-left: 0;
            padding-right: 3px;
        }
    }
}