.links-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 8px;
	}
}

.links-list-title {
	color: $title-color;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 14px;
}