.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;

	&_item {
		display: block;
		text-align: center;
		padding: 20px 0;
		position: relative;
		overflow: hidden;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -10px;
			right: -10px;
			top: 0;
			height: 1px;
			background: #dfdfdf;
			box-shadow: 0 0 2px 2px #fefefe;
		}
	}

	&:first-child {
		.nav-menu_item:first-child:before {
			box-shadow: 0 0 1px 3px rgba(#efefef, .7), 0 0 1px 5px #fefefe;
		}
	}


	.link {
		color: #26272d;
	}

	@media screen and (min-width: $small-breakpoint) {
		&_item {
			padding: 10px 0;
		}
	}

	@media screen and (max-width: $medium-breakpoint) {
		.link {
			display: block;

			&:hover:after,
			&:focus:after {
				display: none;
			}
		}

		&_item {
			line-height: 1;
		}
	}

	@media screen and (min-width: $medium-breakpoint) {
		&_item {
			display: inline-block;
			vertical-align: middle;
			margin-right: 12px;
			padding: 0;

			&:last-child {
				margin-right: 0;
			}

			&:before {
				display: none;
			}
		}
	}

	@media screen and (min-width: $large-breakpoint) {
		&_item {
			margin-right: 30px;
		}
	}
}