.social-links-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.social-link {
	color: $link-color;
	transition: .2s;
	font-size: 19px;

	&:hover {
		color: darken($link-color, 12%);
	}
}