mixin review(review)
	.review
		.review_title= review.title
		p= review.content
		ul.star-array
			- var maxStars = 5
			- var stars = 0
			while stars < review.stars
				li.star
				- stars++
			while stars < maxStars
				li.star.star-empty
				- stars++
		.review_reviewer= review.reviewer