extends ../layouts/layout.pug

include ../mixins/review.pug

block content
	.banner
		.container
				h1.banner_title What happens tomorrow?
				.banner_content
					p The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
				.banner_call-to-action
					a(data-type="iframe" href="http://www.youtube.com/watch?v=KRz1675UaOA").btn.btn-lg.btn-default.fancy-vid
						i.icon-play
						span Watch video
	.features
		.container
			.grid-x
				.medium-6.cell
					.feature.feature--lock
						h2.feature_title Real-time all the time
						p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
						p Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
				.medium-6.cell
					.feature.feature--clock
						h2.feature_title Adopt without any obstacles
						p This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
						p This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.

	.showcase
		.container
			.grid-x.grid-margin-x
				.medium-5.medium-offset-7.cell
					h2.showcase_title Your day<br>is protected
					p There have not been any since we have lived here, said my mother.
					p We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.

					ul.btn-list
						li
							a(href="#").btn.btn-primary
								span Try to hack us
								i.icon-arrow-right
						li
							a(href="#").btn.btn-default Learn more

	.interface
		.container
			h2.interface_title Beautiful Interface
			div.sub-title.sub-title--separator-top Landing Screen
			.interface-slider
				div
					img(src="assets/img/interface-slider/screen1.jpg")
				div
					img(src="assets/img/interface-slider/screen2.jpg")
				div
					img(src="assets/img/interface-slider/screen3.jpg")
				div
					img(src="assets/img/interface-slider/screen4.jpg")
				div
					img(src="assets/img/interface-slider/screen5.jpg")
	.invite
		.container
			div.sub-title NewProvidence
			h2.invite_title Get it to your smartphone
			.invite_form
				form
					.input-group
						input.input-text(type="email")
						span.input-group_btn
							button.btn.btn-secondary(type="submit")
								span Send Invite
								i.icon-arrow-right
	.reviews
		.container
			.reviews-slider-controls
				.slick-arrows
				.reviews-slider-dots
			.reviews-slider
				each review in mocks['reviews']
					div(data-photo=review.photo)
						+review(review)