doctype html
html(lang="ru")
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	block styles
		link(rel="stylesheet" href="assets/vendor/fancybox/css/jquery.fancybox.css")
		link(rel="stylesheet" href="assets/css/style.css")

	body
		.page
			block header
				include ../includes/header.pug

			block content

			block footer
				include ../includes/footer.pug

			block scripts
				script(src="assets/vendor/jquery.min.js")
				script(src="assets/vendor/slick.min.js")
				script(src="assets/vendor/fancybox/js/jquery.fancybox.pack.js")
				script(src="assets/vendor/fancybox/helpers/js/jquery.fancybox-media.js")
				script(src="assets/js/main.js")