.banner {
	background-image: url('../img/banner_background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 120px 0 320px;
	min-height: 740px;
	background-size: 1240px;
	position: relative;

	&:after {
		content: "";
		display: block;
		height: 320px;
		background: url('../img/banner_iphone.png');
		background-size: 100%;
		background-position: center bottom;
		background-repeat: no-repeat;
		bottom: 0;
		width: 70%;
		max-width: 250px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.container {
		position: relative;
	}

	&_content,
	&_call-to-action {
		text-align: center;
	}

	&_call-to-action {
		margin-top: 35px;
	}

	&_title {
		font-size: 32px;
		text-align: center;
	}

	@media screen and (min-width: $medium-breakpoint) {
		min-height: 1000px;
		padding-top: 180px;
		background-size: auto;

		&:after {
			max-width: 369px;
			height: 470px;
		}

		&_title {
			font-size: 62px;
		}

		&_content {
			margin-left: auto;
			margin-right: auto;
			max-width: 780px;
			font-size: 20px;
		}

		&_call-to-action {
			margin-top: 55px;
		}
	}
}
