.feature {
	padding-top: 92px;
	background-repeat: no-repeat;
	background-position: top left;

	p {
		font-size: 18px;
	}

	&_title {
		font-size: 26px;
	}

	&--lock {
		background-image: url('../img/lock.png');
	}

	&--clock {
		background-image: url('../img/clock.png');
	}

	@media screen and (min-width: $medium-breakpoint) {
		padding-left: 36px;
		padding-right: 36px;
		background-position: 36px top;
	}
}

.features {
	margin: 60px 0;

	@media screen and (min-width: $medium-breakpoint) {
		margin: 120px 0 200px;
	}

	@media screen and (min-width: $large-breakpoint) {
		margin-bottom: 360px;
	}
}

