.interface {
	padding: 100px 0 20px;
	overflow: hidden;
	background: $block-highlight;

	.sub-title,
	&_title {
		text-align: center;
	}

	@media screen and (min-width: $large-breakpoint) {
		padding-bottom: 60px;
	}
}