.invite {

	text-align: center;
	background: $block-highlight;
	padding: 50px 0 130px;

	.input-text {
		background: #f7f7f7;
	}

	&_title {
		font-weight: normal;
		margin: 1.2em 0;
	}

	&_form {
		max-width: 500px;
		margin: 0 auto;
	}

	@media screen and (min-width: $large-breakpoint) {
		padding-top: 100px;
	}
}