.page-footer {
	font-size: 14px;
	padding: 100px 0 80px;

	.logo {
		margin-bottom: 24px;
	}

	.links-list {
		font-size: 16px;
		margin-bottom: 24px;
	}

	.social-links-list {
		margin: 18px 0;
	}

	@media screen and (min-width: $medium-breakpoint) {
		.links-list {
			margin-bottom: 0;
		}
	}
}