.page-header {

	position: relative;
	transition: background .5s;

	&-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 200;
	}

	&--bg,
	&--dropdown-opened { 
		background: #f7f7f7;
	}

	#links-dropdown-toggle {
		display: none;
	}

	&_container {
		@extend .container;
		position: relative;
		height: 80px;
		transition: height .5s;
	}

	&_links-dropdown {
		background: #f7f7f8;
	}

	.logo,
	.dropdown-toggle {
		position: absolute;
		top: 50%;
	}

	.logo {
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.dropdown-toggle {
		left: 15px;
		transform: translateY(-50%);
	}

	@media screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
		&--dropdown-opened {
			.page-header_container {
				height: 50px;
			}
		}
	}

	@media screen and (max-width: $medium-breakpoint) {
		&_nav-dropdown {
			background: #f7f7f8;
		}
	}

	@media screen and (min-width: $medium-breakpoint) {

		&_container {
			padding-left: 55px;
		}

		&_nav-dropdown {
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}

		&_links-dropdown {
			padding: 20px 0 50px;

			.container {
				padding-left: 55px;
			}
		}

		#links-dropdown-toggle {
			display: inline-block;
		}

		#nav-dropdown-toggle {
			display: none;
		}

		#page-header-nav {
			visibility: visible;
			position: static;
			opacity: 1;
		}
	}

	@media screen and (min-width: $large-breakpoint) {
		&_container,
		&_links-dropdown .container {
			padding-left: 65px;
		}
	}
}