.review {
	margin: 0 auto;

	p,
	.star-array {
		text-align: center;
	}

	p {
		margin: 20px 0;
	}

	&_title {
		font-size: 28px;
		color: $title-color;
		text-align: center;
		margin: .9em 0;
		line-height: 1.2;
	}

	&_reviewer {
		font-size: 12px;
		color: #26272d;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		margin-top: 40px;
	}

	@media screen and (min-width: $medium-breakpoint) {

		max-width: 570px;

		p {
			font-size: 20px;
		}

		&_title {
			font-size: 32px;
		}

		&_reviewer {
			margin-top: 60px;
		}
	}
}