.showcase {
	position: relative;
	z-index: 1;
	padding-bottom: 340px;

	&:before {
		content: "";
		display: block;
		height: 320px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		left: 0;
		right: 0;
		background-image: url('../img/iphone-showcase.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	p {
		font-size: 18px;
	}

	.btn-list {
		margin-top: 30px;
	}

	&_title {
		font-size: 36px;
	}

	@media screen and (min-width: $small-breakpoint) {
		padding-bottom: 520px;

		&:before {
			height: 500px;
		}
	}

	@media screen and (min-width: $medium-breakpoint) {
		padding-bottom: 200px;

		&:before {
			height: 799px;
			background-position: calc(50% - 370px) center;
			top: -40px;
			background-size: 800px;
		}

		p {
			font-size: 20px;
		}

		.btn-list {
			margin-top: 60px;
		}

		&_title {
			font-size: 42px;
		}
	}

	@media screen and (min-width: $large-breakpoint) {
		padding-bottom: 450px;
		&:before {
			height: 799px;
			padding: 0;
			background-position: calc(50% - 320px) center;
			background-size: auto;
			top: 40px;
		}
	}
}