*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: $base-font-family;
	color: $base-font-color;
    line-height: $base-line-height;
    height: 400vh;
    background-image: url("../img/body-bg.jpg");
    background-repeat: repeat;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.link {
	cursor: pointer;
	color: $link-color;
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		display: inline-block;
		height: 1px;
		width: 0;
		opacity: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: width .3s, opacity .15s;
		background: #8c8f94;
	}

	&:hover::after {
		width: 100%;
		opacity: 1;
	}

	&:visited {
		color: darken(#8c8f94, 10%);
	}
}

.sub-title {
    text-transform: uppercase;
    color: #8c8f94;
    padding: 3em 0;
    letter-spacing: 1px;
    font-size: 10px;

    & + h1,
    & + h2,
    & + h3 {
        margin-top: 0;
    }

    &--separator-top,
    &--separator-bottom {
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 2px;
            width: 60px;
            background: #267df4;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &--separator-top {
        &:before {
            top: 0;
        }
    }

    &--separator-bottom {
        &:before {
            bottom: 0;
        }
    }

    @media screen and (min-width: $medium-breakpoint) {
        font-size: 12px;
    }
}

.btn-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}