$fonts-path: '../fonts/';

@font-face {
    // Roboto Regular
    font-family: 'Roboto';
    src:
    url($fonts-path + 'Roboto-regular.otf') format('opentype'),
    url($fonts-path + 'Roboto-regular.eot'),
    url($fonts-path + 'Roboto-regular.woff') format('woff'),
    url($fonts-path + 'Roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    // Roboto Medium
    font-family: 'Roboto';
    src:
    url($fonts-path + 'Roboto-Medium.ttf') format('truetype'),
    url($fonts-path + 'Roboto-Medium.eot'),
    url($fonts-path + 'Roboto-Medium.woff') format('woff'),
    url($fonts-path + 'Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}