$fa-font-path: '../../assets/fonts';
$fa-css-prefix: 'icon';

//noinspection CssUnknownTarget
@import 'font-awesome';

[class^='icon-'], [class*='icon-'] {
	@extend .icon;

	&::before {
		font-family: "FontAwesome";
	}
}