.page {
	max-width: 1600px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 12px 6px rgba(40,40,40,0.4);
}

.container {
	max-width: 768px;
	margin: 0 auto;
	padding: 0 15px;

	@media screen and (min-width: $large-breakpoint) {
		max-width: 1200px;
	}
}