@import 'slick.scss';

.slick-slide,
.slick-arrow {
	&:focus {
		outline: none;
	}
}

.slick-arrows {
	left: 0;
	right: 0;
	position: relative;
	z-index: 1;
}

.slick-arrow {
	display: block;
	width: 22px;
	height: 41px;
	border: 0;
	position: absolute;
	cursor: pointer;
	opacity: .2;
	transition: .2s;

	&:hover,
	&:focus,
	&:active {
		opacity: .5;
	}
}

.slick-prev,
.slick-next {
	background: url("../img/slider-arrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	top: 50%;
	transform: translateY(-50%);
}

.slick-prev {
	left: 0;
}

.slick-next {
	transform: translateY(-50%) rotate(180deg);
	right: 0;
}

.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.reviews-slider-dots {
	.slick-dots {
		display: table;
		width: 100%;
		height: 130px;
	    margin: 0 auto;

		li {
			display: table-cell;
			vertical-align: middle;
			width: 90px;
			text-align: center;
			opacity: .2;

			&.slick-active {
				opacity: 1;
				transition: .3s;

				button {
					width: 90px;
					height: 90px;
					box-shadow: 20px 36px 60px -15px rgba(0,0,0,0.15);
					transition: .3s;
				}
			}
		}

		button {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			width: 50px;
			height: 50px;
			opacity: 1;
			text-indent: -9999px;
	    	overflow:hidden;
	    	padding: 0;
	    	background: #999;
	    	border: 0;
	    	border-radius: 50%;
	    	background-repeat: no-repeat;
	    	background-size: contain;
	    	background-position: center;

	    	&:focus {
	    		outline: none;
	    	}
		}
	}

	@media screen and (min-width: $medium-breakpoint) {
		.slick-dots {
			width: auto;
			height: 130px;

			li {
				width: 230px;
				&.slick-active {
					button {
						width: 130px;
						height: 130px;
					}
				}
			}

			button {
				width: 90px;
				height: 90px;
			}
		}
	}

	@media screen and (min-width: $large-breakpoint) {
		.slick-dots li {
			margin: 0 65px;
		}
	}
}

.reviews-slider-controls {
	position: relative;

	.slick-arrows {
		position: static;

		.slick-prev {
			left: 20px;
		}

		.slick-next {
			right: 20px;
		}
	}
}

.interface-slider {

	position: relative;

	.slick-list {
		padding: 44px 0 96px !important;
		overflow: visible;
		&:before {
			content: "";
			display: block;
		    width: 185px;
    		height: 386px;
			margin: 0 auto;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 100;
			background-image: url("../img/interface-slider/center.png");
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.slick-slide {
		position: relative;
		width: 190px;

		img {
			width: 162px;
		}

		&.slick-current {
			z-index: 110;

			img {
				box-shadow: none;
			}
		}
	}

	.slick-slide img {
		margin: 0 auto;
		box-shadow: 2px 6px 16px 2px rgba(50, 50, 50, 0.1);
		transition: box-shadow .2s;
	}

	@media screen and (min-width: $medium-breakpoint) {
		.slick-list {
			padding: 55px 0 96px !important;

			&:before {
				width: 232px;
				height: 480px;
			}
		}

		.slick-slide {
			width: 240px;

			img {
				width: 204px;
			}
		}
	}

	@media screen and (min-width: $large-breakpoint) {
		.slick-list {
			padding: 88px 0 96px !important;

			&:before {
				width: 369px;
				height: 753px;
			}
		}

		.slick-slide {
			width: 360px;

			img {
				width: auto;
			}
		}
	}
}