body {
	color: #8c8f94;
}

h1,
h2,
h3,
h4,
h5 {
	color: $title-color;
	line-height: 1.2;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	margin: .55em 0;
	font-weight: 500;
}

h2 {
	margin: 1.2em 0;
	font-size: 36px;
	font-weight: 500;
}

p {
	margin: 25px 0;
}

@media screen and (min-width: $medium-breakpoint) {
	h2 {
		font-size: 42px;
	}
}