$base-font-size: 100%;
$base-font-family: "Roboto", "Arial", sans-serif;
$base-font-color:  #8c8f94;
$base-line-height: 1.7;

$primary-color: #267df4;
$secondary-color: #6fc754;

$block-highlight: #f7f7f7;

$title-color: #26272d;

$link-color: #8c8f94;

// breakpoints
$large-breakpoint: 991px;
$medium-breakpoint: 769px;
$small-breakpoint: 570px;

$breakpoints: (
  small: 570px,
  medium: 768px,
  large: 1200px,
  xlarge: 1440px,
  xxlarge: 1920px,
);

// Grid
$xy-grid: true;
$grid-container: 1170px;
$grid-columns: 12;
$grid-margin-gutters: (
  small: 30px,
  medium: 30px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: 1170px;
$xy-block-grid-max: 8;